<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653962860092-hpoer6nmumpsmqtcduq1m7bpartemp5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653962860092-hpoer6nmumpsmqtcduq1m7bpartemp5h</string>
	<key>API_KEY</key>
	<string>AIzaSyDS6u34ALydiDDzLrGckruuW3w22tdHOaE</string>
	<key>GCM_SENDER_ID</key>
	<string>653962860092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-cb808</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-cb808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653962860092:ios:52d5390df74ec4c4809539</string>
</dict>
</plist>